// .red {
//     color: white;
//     border: 3px solid #ccc;
//     border-radius: 5px;
//     background-color: red;
// }
// .blue {
//     color: white;
//     border: 3px solid #ccc;
//     border-radius: 5px;
//     background-color: blue;
// }
.form-control {
    height: 25px;
    font-size: 1em;
}

.form-button {
    height: 75px;
    font-size: 25px;
    outline: 0;
    border: 0 solid white;
    color: white;
    background-color: darkslategray;
}
