<h1>Directives learning</h1>

<button (click)="Toggle = !Toggle">Change color</button>

<!-- <div [ngStyle]="{
  width: '350px',
  height: '350px',
  border: '3px solid #ccc',
  borderRadius: '5px',
  backgroundColor: backToggle ? 'red' : 'blue'
}">

</div> -->


<!-- <div [ngClass]="{
  red: backToggle,
  blue: !backToggle
}">

</div> -->

<!-- <div [class.blue]="backToggle" [class.red]="!backToggle"></div> -->

<!-- <div *ngIf="Toggle; else blueDiv" class="red">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, modi!</div>
<ng-template #blueDiv>
    <div class="blue">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, totam!</div>
</ng-template> -->

<div [ngSwitch]="Toggle">
    <p *ngSwitchCase="true" class="red">Lorem, ipsum.</p>
    <p *ngSwitchCase="false" class="blue">Lorem, dolor.</p>
    <p *ngSwitchDefault>Lorem, dolor.</p>
</div>
