.red {
    color: white;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: red;
}

.blue {
    color: white;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: blue;
}
